<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
    <display-name>CrunchifyJSPServletExample</display-name>
    <welcome-file-list>
    
        
      
        <welcome-file>jsp/Login.jsp</welcome-file>
        <welcome-file>index_1.jsp</welcome-file>
       
    </welcome-file-list>
    
    <!--<servlet>
        <servlet-name>HelloCrunchu  </servlet-name>
        <servlet-class>natconta.imp.emp.HelloCrunchify</servlet-class>
    </servlet>-->
    
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>natconta.imp.emp.HelloWorld</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <!--<url-pattern>/CrunchifyServlet</url-pattern>-->
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
</web-app>